<div class="cart-item">
    <div class="item-details">
        <img class="item-image" [src]="cartProduct.imgUrl">
        <h3 class="item-title">{{cartProduct.name}}</h3>
    </div>
    <div class="item-info">
        <h4 class="price">$ {{cartProduct.price * cartProduct.quantity | number: '1.2-2' }}</h4>
        <p class="added-quantity">Added <b>{{cartProduct.quantity}}</b></p>
        <div class="quantity-buttons">
            <button class="quantity-button" (click)="addQuantity(cartProduct.id)">+</button>
            <button class="quantity-button" (click)="removeQuantity(cartProduct.id)">
                <ng-container *ngIf="cartProduct.quantity > 1; else showTrashIcon">
                    -
                </ng-container>
                <ng-template #showTrashIcon>
                    <i class="fa-solid fa-trash" style="font-size: 14px;color: red;"></i>
                </ng-template>
            </button>
        </div>
    </div>
</div>
